* {
    text-align: justify;
}

main {
    margin-left: 5px;
    margin-right: 5px;
}

@media (width >= 800) {
    img {
        width: 400;
    }
    main .direccion_flex {
        flex-direction: row;
    }
}
@media (800 > width >= 400) {
    img {
        width: 300;
    }
    main .direccion_flex  {
        flex-direction: row;
    }
}

@media (width < 400) {
    img {
        width: 200;
    }
    main .direccion_flex {
        flex-direction: column;
    }
}
